<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbsshare">

	<insert id="create" parameterType="BbsShareVO">
		insert into bbsshare values
		(NULL, #{bbsShareRequest}, #{bbsShareTitle}, #{bbsShareContent},
		#{bbsShareWriter}, #{bbsShareDate}, #{bbsShareCategory},
		#{bbsShareView}
		, #{bbsShareInterest}, #{bbsShareSuccess},
		#{bbsShareImage})
	</insert>



	<delete id="del" parameterType="BbsShareVO">
		delete from bbsshare where
		bbsshareno = #{bbsShareNo}
	</delete>



	<update id="uprequest" parameterType="BbsShareVO">
		update bbsshare set
		bbssharerequest = #{bbsShareRequest} where bbsshareno = #{bbsShareNo}
	</update>

	<update id="upcontent" parameterType="BbsShareVO">
		update bbsshare set
		bbssharetitle = #{bbsShareTitle}, bbssharecontent =
		#{bbsShareContent}, bbssharecategory = #{bbsShareCategory},
		bbsshareimage = #{bbsShareImage} where bbsshareno = #{bbsShareNo}
	</update>

	<update id="upview" parameterType="BbsShareVO">
		update bbsshare set
		bbsshareview = bbsshareview+1 where bbsshareno = #{bbsShareNo}
	</update>

	<update id="upinterestup" parameterType="BbsShareVO">
		update bbsshare set
		bbsshareinterest = bbsShareInterest+1 where bbsshareno =
		#{bbsShareNo}
	</update>
	
	<update id="upinterestdown" parameterType="BbsShareVO">
		update bbsshare set
		bbsshareinterest = bbsShareInterest-1 where bbsshareno =
		#{bbsShareNo}
	</update>

	<update id="upsuccess" parameterType="BbsShareVO">
		update bbsshare set
		bbssharesuccess = 1 where bbsshareno = #{bbsShareNo}
	</update>





	<select id="one" parameterType="String" resultType="BbsShareVO">
		select * from
		bbsshare where bbsshareno = #{bbsShareNo}
	</select>

	<select id="all" resultType="BbsShareVO">
		SELECT * FROM (SELECT *,
		ROW_NUMBER() OVER (ORDER BY bbsshareno DESC) as rn FROM bbsshare ) sub
		WHERE rn between (#{pageno} * 6- 5) and (#{pageno} * 6;)
	</select>

	<select id="notsuccess" resultType="BbsShareVO">
		SELECT * FROM (
		SELECT *,
		ROW_NUMBER() OVER (ORDER BY bbsshareno DESC) as rn
		FROM (SELECT * FROM
		bbsshare WHERE bbssharesuccess = false) sub1
		) sub2
		WHERE rn BETWEEN
		#{pageno} * 6 - 5 AND #{pageno} * 6;
	</select>



	<select id="notsuccesscerti" parameterType="BbsShareSearchVO" resultType="BbsShareVO">
		SELECT * FROM (
		SELECT *,
		ROW_NUMBER() OVER (ORDER BY bbsshareno DESC) as rn
		FROM (
		SELECT bbsshare.*
		FROM member
		JOIN bbsshare ON member.member_id = bbsshare.bbssharewriter
		WHERE member.address LIKE CONCAT(#{address}, '%') AND
		bbsshare.bbssharesuccess = false
		) sub1
		) sub2
		WHERE rn BETWEEN #{pageno} * 6 - 5 AND #{pageno} * 6;

		<!-- SELECT * FROM ( SELECT *, ROW_NUMBER() OVER (ORDER BY bbsshareno DESC) 
			as rn FROM (SELECT * FROM bbsshare WHERE bbssharesuccess = false) sub1 ) 
			sub2 WHERE rn BETWEEN #{pageno} * 6 - 5 AND #{pageno} * 6; -->
	</select>

	<select id="search" parameterType="BbsShareSearchVO"
		resultType="BbsShareVO">

		SELECT * FROM (
		SELECT t.*, @rownum := @rownum + 1 AS
		row_num
		FROM (SELECT * FROM bbsshare WHERE bbssharesuccess = false and
		(bbssharecontent LIKE CONCAT('%', #{keyword}, '%') OR bbssharetitle
		LIKE CONCAT('%', #{keyword},'%')) ORDER BY bbsshareno desc) t, (SELECT
		@rownum := 0) r
		)
		x
		WHERE row_num BETWEEN #{pageno} * 6 - 5 AND #{pageno}
		* 6

	</select>

	<select id="searchcerti" parameterType="BbsShareSearchVO"
		resultType="BbsShareVO">

		SELECT * FROM (
		SELECT t.*, @rownum := @rownum + 1 AS row_num
		FROM (
		SELECT bbsshare.*
		FROM member
		JOIN bbsshare ON member.member_id =
		bbsshare.bbssharewriter
		WHERE member.address LIKE CONCAT(#{address},
		'%') AND
		bbsshare.bbssharesuccess = false AND (bbsshare.bbssharecontent
		LIKE
		CONCAT('%', #{keyword}, '%') OR bbsshare.bbssharetitle LIKE
		CONCAT('%',
		#{keyword},'%'))
		ORDER BY bbsshare.bbsshareno DESC
		) t,
		(SELECT @rownum := 0) r
		) x
		WHERE row_num BETWEEN #{pageno} * 6 - 5 AND
		#{pageno} * 6;

		<!-- SELECT * FROM ( SELECT t.*, @rownum := @rownum + 1 AS row_num FROM 
			(SELECT * FROM bbsshare WHERE bbssharesuccess = false and (bbssharecontent 
			LIKE CONCAT('%', #{keyword}, '%') OR bbssharetitle LIKE CONCAT('%', #{keyword},'%')) 
			ORDER BY bbsshareno desc) t, (SELECT @rownum := 0) r ) x WHERE row_num BETWEEN 
			#{pageno} * 6 - 5 AND #{pageno} * 6 -->

	</select>

</mapper>






