<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatroomshare">
	
	<!-- 유저가 진행중인 채팅목록 + 게시글제목/이미지 + 채팅내용 -->
	<select id="userChatList" parameterType="String" resultType="chatRoomBbsMessageJoinVO">
		SELECT c.*, b.*, ms.messageNo, ms.sender, ms.content, ms.`time` 
		FROM chatroomshare c
		JOIN bbsshare b ON c.bbsNo = b.bbsShareNo
		JOIN (
			SELECT roomNo, MAX(messageNo) AS max_messageNo
			  FROM messageshare
			  GROUP BY roomNo
			) AS subquery ON c.roomNo = subquery.roomNo
		JOIN messageshare ms ON c.roomNo = ms.roomNo AND ms.messageNo = subquery.max_messageNo
		WHERE (c.chatRequestor = #{nowSession} OR c.chatReceiver = #{nowSession});
	</select>
	
	<!-- 게시글 채팅목록 + 채팅방별 마지막 메시지  -->
	<select id="room" parameterType="int" resultType="chatRoomMessageJoinVO">
		SELECT cr.*, ms.messageNo, ms.content, ms.sender
		FROM chatroomshare cr
		JOIN messageshare ms 
		ON cr.roomNo = ms.roomNo
		JOIN 
		(
		  SELECT roomNo, MAX(messageNo) AS max_messageNo
		  FROM messageshare
		  GROUP BY roomNo
		) AS subquery
		ON ms.roomNo = subquery.roomNo AND ms.messageNo = subquery.max_messageNo
		WHERE cr.bbsNo = #{bbsNo}
		ORDER BY cr.roomNo;
	</select>
	
	<!-- useGeneratedKeys="true" keyProperty="roomNo" : auto_increment 속성 -->
	<insert id="insert" parameterType="chatRoomShareVO" useGeneratedKeys="true" keyProperty="roomNo">
		insert into CHATROOMSHARE (bbsNo, chatRequestor, chatReceiver)
		values (#{bbsNo}, #{chatRequestor}, #{chatReceiver})
	</insert>
	
	<select id="one" parameterType="chatRoomShareVO" resultType="chatRoomShareVO">
		select *
		from CHATROOMSHARE
		where bbsNo = #{bbsNo} and chatRequestor = #{chatRequestor}
	</select>
	
	<select id="one_roomNo" parameterType="chatRoomShareVO" resultType="chatRoomShareVO">
		select *
		from CHATROOMSHARE
		where roomNo = #{roomNo}
	</select>
	
	<select id="message" parameterType="int" resultType="messageShareVO">
		select *
		from MESSAGESHARE
		where roomNo = #{roomNo}
	</select>
	
	<update id="update" parameterType="chatRoomShareVO">
		update CHATROOMSHARE
		set chatCode = #{chatCode}
		where roomNo = #{roomNo}
	</update>
	
	<!-- <update id="up" parameterType="memberVO">
		update member set tel = #{tel}
		where id = #{id}
	</update> -->
</mapper>











