<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="signup" parameterType="memberVO">
		insert into member values
		(#{member_id}, #{address}, #{nickname}, 0, 0, 0, #{password},0 , null)
	</insert>
	
	<insert id="interest" parameterType="String">
		insert into membershareinterest values
		(#{member_id}, ',')
	</insert>
	
	<update id="upcerti"  parameterType="String">
		update member set certification = 1 where member_id = #{member_id}
	</update>
	
	<select id="one" parameterType="String" resultType="memberVO">
		select * from member where member_id = #{member_id}
	</select>
	
	<select id="login" parameterType="String" resultType="memberVO">
		select * from member where member_id = #{member_id}
	</select>
	
	<select id="checkid" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member WHERE member_id = #{member_id}
	</select>
	
	<select id="checknick" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member WHERE nickname = #{nickname}
	</select>
	
	<select id="all" resultType="memberVO">
		select *
		from member
	</select>
	
	<update id="updateUserMileage" parameterType="memberVO">
		update member set mileage = #{mileage} where member_id = #{member_id}
	</update>
	
	<update id="updatePoint" parameterType="memberVO">
		update member set point = #{point} where member_id = #{member_id}
	</update>
	
	<delete id="deletemember" parameterType="String">
		delete from member where
		member_id = #{member_id}
	</delete>
	
	<delete id="deleteinterest" parameterType="String">
		delete from membershareinterest where
		member_id = #{member_id}
	</delete>
</mapper>












