<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mileage">

	<select id="selectMileagePage" parameterType="mileageVOInfo" resultType="mileageVOPage">
		select * from (select ROW_NUMBER() over(order by mileage_when desc) as mileage_no, m.* from mileage m where mileage_memberID = #{userID}) mileage_sorted where mileage_sorted.mileage_no between #{start_mileageVO} and #{end_mileageVO}
	</select>

	<insert id="insertMileageHistory" parameterType="mileageVO">
		insert into mileage values (#{mileage_ID}, #{mileage_memberID}, #{mileage_when}, #{mileage_why}, #{mileage_what}, #{mileage_how})
	</insert>
</mapper>